
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #123213;
  background-color: white;
}

.container {
  position: relative;
  width: 500px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 3px;
  top: 100px;
  box-shadow: 3px 3px 15px;
  color: #3c5740;
  background-color: #a6ecaf;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.title input {
  display: inline-block;
  background-color: #a6ecaf;
  border: none;
  font-size: 2em;
  margin-left: 10px;
  outline-width: 0;
  color: #3c5740;;
}

.title button {
  background-color: #a6ecaf;
  border: none;
  color: #4b6c50;
  margin: 10px;
  font-size: large;
  outline-width: 0;
}

.title button:hover {
  color: #3c5740;
}


.formContainer {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #94da9c;
}

.formContainer input {
  border: none;
  font-size: 1.25rem;
  background-color: #a6ecaf;
  outline: none;
  color: #4b6c50;
}

.addTaskButton {
  border: none;
  background-color: #a6ecaf;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  outline: none;
  color: #4b6c50;
}

.addTaskButton:hover {
  background-color:#96d89f;
}

.todoForm {
  position: relative;
  left: 20px;
}

.todoForm input{
  position: absolute;
  padding-left: 10px;
  bottom: 5px;
  margin: 0 auto;
}

.listToDos ul{
  padding-left: 30px;
}

.listItem {
  padding: 10px 10px;
  border-bottom: 1px solid #94da9c;
  list-style-type: none;
}

.listItem input {
  appearance: none;
  background-color: #a6ecaf;
  border: 2px solid #518559;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0px -15px 10px -12px rgba(0, 0, 0, .05);
  margin: 0;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  outline-width: 0;
  top: 3px;
}

.listItem input:active, .listItem input:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.listItem input:checked {
  background-color:  #a6ecaf;
  border: 2px solid #518559;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.listItem input:checked:after {
  content: '\2714';
  font-size: 16px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #518559
}

.listItem p {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.listItem input[type=checkbox]:checked + p {
  text-decoration: line-through;
}

